html,body,div,p,h1,h3,h2,li,ul,a,img,header{
	padding:0;
	margin:0;
}
body{
	background-color:white;
	font-size: 16px;
	color: gray;
	height:auto;
	font-family: "微软雅黑"；
	/*width:100%;*/
	/*overflow: hidden;*/
	/*min-width: 1240px;*/
}

a{
	text-decoration: none;
	color: white;

}
a:hover{
	text-decoration: none;
}
.wrap{
	height: 666px;
}
.container{
	/*width: 100%;*/
	/*border-bottom:1px solid #9999;*/
}

header{
	/*width: 100%;*/
/*	min-width: 600px;*/
	background-color: white;
	border-bottom: 1px solid #9999;
}

.head{
	/*width:100%;*/
	margin:0 auto;
	-webkit-display: flex;
	 -webkit-justify-content:space-between;
	 -webkit-flex: wrap;
	 -moz-display: flex;
	 -moz-justify-content: space-between;
	 -moz-flex: wrap;
	 display: flex;
	 justify-content: space-between;
	 flex: wrap;
	 padding: 0 10px;

}
.head span{
	display: inline-block;
	line-height: 40px;
	padding-left: 10px;
}
.left{
	/*width: 200px;*/
	-webkit-display: flex;
	 -webkit-justify-content: space-around;
	 -webkit-flex: wrap;
	 -moz-display: flex;
	 -moz-justify-content: space-around;
	 -moz-flex: wrap;
	 display: flex;
	 justify-content: space-around;
	 flex: wrap;
	 padding: 20px 0;
}
.left h2{
   color: #4289DB;
   font-size: 30px;
}
.right{
	padding: 20px 0;
}

.right>button{
	padding: 10px 30px;
	border:1px solid #4289DB;
	border-radius: 10px;
	color: #4289DB;
	background-color: white;
	outline: 0;
}
.right>button a{
	color:gray;
}

.right>button:hover{
	background-color: #4289DB;
	color: white;
}

/*.right>button a:hover{
	background-color: #4289DB;
	color: white;
}
*/
.yhzc{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
}

/*.row{
	border-bottom: none;
}*/
/*.btn{
	padding: 10px 120px;
	vertical-align: center;
	
}
*/
.form-control{
	padding: 20px 20px;
	line-height: 5px;
}

.button{
	background-color: #4289DB;
	color: white;
}
.button:hover{
	background-color: red;
	/*color: */
}

.zhmm{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
}
footer p{
    text-align: center;
}
footer p span{
	font-size: 14px;
	padding-left: 10px;
}

.ms{
	font-size: 25px;
	color: #4289DB;
}
@media screen and  (max-width: 768px) {
	.head span{
		display: none;
	}
}


.mixfirm {
    width: 150px;
    height: 40px;
    background-color: #1084FB;
    opacity: 0.8;
    position: fixed;
    bottom: 50%;
    left: 50%;
    margin-left: -62px;
    margin-top: -20PX;
    text-align: center;
    display: none;
    padding: 0 10px;
    z-index: 30;
    border-radius: 30px;
}
.mixfirm h4 {
    margin-top: 13px;
    color: #fff;
}
