article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul{
    margin: 0;
    padding: 0;
}
body{
    background: #f0f2f5;
}
#img-1{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.content-wrapper-Ssu-q{
    padding-top: 64px;
    padding-bottom: 56px;
    height: 845px;
}
.html{
    height: 150px;
    background: #fff;
    border: 1px solid #ccc;
    margin-top: -85px;
}
#one{
    line-height: 126px;
    margin-top: 30px;
}
#neck{
    height: 52px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 16px;
    color: hsla(0,0%,100%,.8);   
}
.box{
    height: 52px;
    
    background-color: rgba(137,150,166,.5) ;
    padding: 19px 20px 8px 15px; 
    margin-right: 10px;
    border-radius: 4px;
}
.box em{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    position: absolute;
}
.box span{
    padding-left: 38px;
    box-sizing: border-box;
}
#neck1{
    height: 52px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 16px;
    color: hsla(0,0%,100%,.8);    
}
.box1{
    height: 52px;
    background:#4289db;
    padding: 19px 20px 8px 15px; 
    margin-right: 10px;
    border-radius: 4px;
}
.box1 em{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    position: absolute;
}
.box1 span{
    padding-left: 38px;
    box-sizing: border-box;
}
#neck2{
    height: 52px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 16px;
    color: hsla(0,0%,100%,.8);   
}
.box2{
    height: 52px;
    background-color: rgba(137,150,166,.5) ;
    padding: 19px 20px 8px 15px; 
    margin-right: 10px;
    border-radius: 4px;
}
.box2 em{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    position: absolute;
}
.box2 span{
    padding-left: 38px;
    box-sizing: border-box;
}
#Tabs{
    margin-top:25px; 
}
#home{
    position: relative;
    float: left;
    margin: 0 30px 0 0;
    padding: 0 0 .5rem;
    border-bottom: 3px solid #fff;
    color: #979fa8;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    border-bottom: 3rem solid #4289db;
}
em{
    float: right;
    margin-left: 10px;
    font-style: normal;
    color: #4289db;
}
.choose-2meKd{
    position: absolute;
    right: 0;
    top: 30px;
}
.buttton-gray{
    width: 84px;
    height: 34px;
    background-color: #8996a6;
    padding: 5px 10;
    color: #fff;
    float: none;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    box-shadow: 0 3px 3px rgba(45,51,56,.2);
    outline: none;
}
.wrapper-1{
    position: relative;
    margin: 20px auto 0;
 }
 .functions-3wwxx{
     position: relative;
     margin-right:178px;
     font-size: 10px;
     color: #2d3228; 
 }
 .functions-3wwxx table{
     width: 100%;
     border-collapse: separate;
     border-spacing:0;
     table-layout: fixed; 
 }
 thead{
     height: 30px;
     background: #f2f5f7;
     border-top: 1px solid hsla(212,9%,63%,.2);
     text-align: center;
     padding: 8px;
     border-left: 1px solid hsla(212,9%,63%,.2);
     border-bottom: 1px solid hsla(212,9%,63%,.2);
     border-right: 1px solid hsla(212,9%,63%,.2);
 }
 tr{
     padding: 0;
     height: 60px;
 }
 th{         
     font-weight: 400;
     border-bottom: 1px solid hsla(212,9%,63%,.2);
     border-top: 1px solid hsla(212,9%,63%,.2);
 }
 .th-1{
     border-left: 1px solid hsla(212,9%,63%,.2);
     width: 60px;
 }
 .th-3{
     border-top-right-radius: 4px;
    border-right: 1px solid hsla(212,9%,63%,.2);
    font-weight: 400;
     border-left: 1px solid hsla(212,9%,63%,.2);
     border-right: 1px solid hsla(212,9%,63%,.2);
 }
 tbody{
     background: #fff;
 }
 td{
     border-left: 1px solid hsla(212,9%,63%,.2);
     text-align: center;
     padding: 5px;
     border-left: 1px solid hsla(212,9%,63%,.2);
     border-bottom: 1px solid hsla(212,9%,63%,.2);
     border-right: 1px solid hsla(212,9%,63%,.2);
 }
 .table>tbody>tr>td{
     line-height: 100%;
     vertical-align: middle;
 }
 tfoot{
     background: #f2f5f7;
     text-align: right;
 }
 .button-3j-0D{
     color: #fff;
     float: none;
     cursor: pointer;
     border-radius: .4rem;
     box-sizing: border-box;
     border: 0;
     width: 100px;
     font-size: 1rem;
     box-shadow: 0 3px 3px rgba(45,51,56,.2);
     outline: none;
     background-color: #4289db;
     float: right;
     overflow: hidden;
     /* line-height: 100%;
     vertical-align: middle; */
     line-height: 30px;
     margin-left: 8px;
 }
 .calculate{
     margin: 25px auto;
     text-align: center;
 }
 .button-36ZsW{
     background-color: #8796a8;
     /* cursor: not-allowed !important; */
     width: 33%;
     height: 41px;
     line-height: 21px;
     font-size: 15px;
     min-width: 170px;
     color: #fff;
     float: none;
     cursor: pointer;
     border-radius: 4px;
     box-sizing: border-box;
     border: 0;
     font-size: 10px;
     box-shadow: 0 3px 3px rgba(45,51,56,.2);
     outline: none;
 }
 .footer-1{
     width: 100%;
     bottom: 0;
     position: fixed;
 }
 .simple{
     background: #1f2d3d;
     color: #8796a8;
 }
 .footer-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-sizing: border-box;
     width: 100%;
     max-width: 1140px;
     padding-left: 10px;
     padding-right: 10px;
     margin: auto;
     padding-top: 17.5px;
     padding-bottom:17.5px; 
 }
 .site div{
     /* width: 100%; */
     /* display: inline-block; */
 }
 .brand-jMqoU{
     /* display: flex; */
     float: left;
     overflow: hidden;
 }
 .brand-jMqoU img{
     height: 20px;
 }
 #ppp{
      float: right;
      overflow: hidden;
 }
 .qwe{
     height: 100px;
     /* width: 100%; */
 }
 .popover{
     width: 600px;
    height: 300px;
    border: 1px solid rgba(0,0,0,.2);
    background: url(../img/4.png)no-repeat 50% #fff;
}
.preview-9AiIp{
    /* display: none; */
    position: absolute;
    min-height: 100px;
    right: 425px;
    transition: 0.5s;
    top: 221px;
    /* border: 1px solid rgba(0,0,0,.2); */
    /* transition: top .3s cubic-bezier(.42,0,.12,1.57); */
}
.inner-1ABkK{
    position: relative;
    width: 170px;
    padding: 15px 10px;
    border-radius: 4px;
    margin-left: 4px;
    box-sizing: border-box;
    background: #fff;
    transition: top .3s ease-in-out;
    z-index: 2;
}
.inner-1ABkK h2{
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 400;
    font-size: 10px;
    color: #4289db;
}
.nnow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.preview-9AiIp article{
    font-size: 8px;
    color: #2d3238;
    line-height: 14px;
}
.preview-9AiIp .previewIcon-1msWi{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.preview-9AiIp .previewIcon-1msWi img{
    width: 140px;
    margin: 0 auto;
}
@media screen and (max-width:768px){
    .choose-2meKd{
        padding: 0 25px;
    }
}
@media screen and (min-width:992px){
    .col-md-9 {
        width: 95%;
    }
}