body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div
{
	margin:0;
	padding:0;
	border:0;
} 
body{
	background:#EFF1F5;
	color:#333;
	font-size:12px; 
	width: 100%;
	height:auto;
	/*margin-top:5px;*/
	font-family:"SimSun","宋体","Arial Narrow";} 
ul,ol{
	list-style-type:none;
} 



.web{
	width: 100%;
	/*min-width: 1204px;*/
	padding: 30px 20px;
	background-color: white;
	margin:0 auto;
	margin-bottom: 20px;
}

.web-left h2{
	padding-left: 10px;
	padding-top: 15px;
}
.web-1{
	padding: 0 40px;
}

.web-right{
	margin:0 auto;

}
.web-right p{
	text-align: center;
	/*width: 120px;*/
	border:1px solid #9999;
	border-radius: 5px;
	padding: 10px 0;

}
.web-right p span{
	display: block;
	font-size: 12px;
	color: #9999;
}
.web-right p span:first-child{
	color: black;
	font-size: 14px;
	font-weight: bold;
}

.web-zm{
	padding:0 20px;
}

.web-zm p{
	line-height: 25px;
	text-align: left;
	padding-left: 50px;
	font-weight: bold;
}
.web-zm p span{
	color:gray;
	display: inline-block;
	font-weight: 300;

}
.w-i{
	width: 200px;
	height: 1px;
	display: inline-block;
	background-color:#9999;
	position: absolute;
	top:30px;
	left:100px;
}

.w-kf{
	margin:10px auto;
	width: 100%;
	position: relative;
	background-color: #F9FBFD;
	/*height: 70px;*/
}
.ww-fb{
	width: 90%;
	margin:0 auto;
	padding: 0 10px;
}
.w-kf1{
	padding-top: 10px;
	margin:0 auto;
	padding-bottom: 10px;
	
}
.w-kf1 span{
	display: inline-block;
	line-height: 30px;
}
.w-kf1 span{
	display:inline-block;
	text-align: left;
	padding-left: 5px;
}

.w-span{
	/*display:block;*/
	text-align: right;
	background-color: blue;
	border-radius: 5px;
	/*width: 200px;*/
	outline: none;
	padding: 10px 5px;
	color: white;
	border:0;
	float: right;
	font-size: 12px;
	/*vertical-align:right;*/
}
.w-right{
	width: 80%;

}
.w-left{
	width: 20%;
	/*float: right;*/
}
.container{
	padding: 0;
	margin: 0;
	width: 100%;
}
a:hover{text-decoration: none;}
.clear{clear: both;}

select,input,img,select{
	vertical-align:middle;
} 
a{
	text-decoration:none;
	color: gray;
}



main{
	margin: 60px auto;
}
.b-publish{
	padding: 0;
	margin:0 auto;
	width:90%;
	margin-bottom: 40px;
}


.b-right{
	padding: 2rem 0rem  2.5rem 0;
	background: #fff;
	border-radius: .5rem;
	
}
.ww-top{
	padding-bottom:20px;
	width:100%;
	margin:0 auto;
	border-bottom: 1px solid #9999;
}
.w-top{
	padding: 0 20px;
	/*width: 60%;*/
}

.w-top1{
	padding: 0 20px;
	/*width:40%;*/
}

.w-top1>button{
    outline: none;border:none;
    background-color:#4E8FD7;color: white;
    padding: 5px 5px;
    border-radius:5px;
    float: right;
}

.w-write1{
	width: 100%;
	margin:0 auto;
}
.w-write{
	padding: 20px 0px;
	width: 100%;
	border-bottom: 1px solid #9999;
	margin:0 auto;
}
.w-write-1{
	width: 100%;
	margin:0 auto;
}
.w-oospan{
	/*width: 150px;*/
	/*font-size: 24px;*/
	text-align: left;
}

.w-p{
	text-align: right;
	line-height: 30px;
}

.wj-pp{
	display: inline-block;
}
.w-message{
	/*width: 99%;*/
	padding: 20px 0;
	margin:10px auto;
	border-top: 1px solid #9999;
}

.w-img img{
	/*width: 70%;*/
	width: 40px;
	height: auto;
}
.w-sj p{
	/*width: 100%;*/
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}

.w-kff{
	padding-top: 30px;
	width: 80%;
	margin:0 auto;
}

.w-pp{
	padding: 10px 0;
	text-align: center;
	background-color:#FFFBF1; 
}


.w-shejitu{

	/*padding-top: 30px;*/
	width: 80%;
	margin:20px auto;
	border:1px solid #9999;
}
.wsjj-1{
	line-height: 40px;
	/*padding: 0 20px;*/
	/*width: 50%;*/
	background-color: #F9FBFD;
}
.wsjj-1 span{
	display: inline-block;
	padding:0 5px;

}
.wsjj-11{
	/*width: 50%;*/
	background-color: #F9FBFD;
	line-height:40px;
	padding: 0 5px;
	text-align: right;
	letter-spacing: 2px;
}
.w-spano{
	display: inline-block;
	padding:0 5px;

	text-align: right;
}

.w-contets{
	width: 100%;
    margin:0 auto;
	padding: 0px 6px;
}
.ww-p{
	line-height: 30px;
	padding-top: 15px;
}
.ww-p1{
	line-height: 30px;
	/*padding-top: 15px;*/
}
.ww-p1-1{
	line-height: 30px;
	color: #999;
	/*padding-top: 15px;*/
}
.w-block{
	display: inline-block;
	background-color: #EFF1F5;
	transform:scale(0.8);
	color: red;
	padding: 0 5px;
	border-radius: 5px;
}
.w-dinji{
	width: 100%;
    margin:0 auto;
    border-top:1px solid #9999;
	padding: 0px 6px;
}
.ww-botton{
	text-align: right;
	padding: 20px 0;
}

.ww-botton>button{
	outline: none;background-color: white;
	border:1px solid #999;
}
.w-button{
	border: 1px solid blue;
	color: blue;
}
.notice{
	padding: 2.5rem;
	border-radius: .5rem;
	background: #fff;
}
.notice h4{
	font-weight: 700;
	font-size:2.2rem; 
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #ddd;
}
.notice .content{
	padding-top: 1.2rem;
}
.notice .content p{
	padding-top: 1.2rem;

}

.w-row{
	margin-left: 0;
	margin-right: 0;
}

@media screen and  (max-width: 414px) {
	.web-left h2{
		font-size: 22px;
		padding: 10px 0;
		text-align: center;
	}

	.web-right p{
		
		margin: 10px 0;
		text-align: center;
	}
}
@media screen and  (max-width: 1024px) {
	.w-i{
		/*display: none;*/
		width:120px;
		height: 1px;
	}
}
@media screen and  (max-width: 1024px) {
	.w-i{
		/*display: none;*/
		width:80px;
		height: 1px;
	}
}
@media screen and  (max-width: 414px) {
	.w-i{
		display: none;
		width: 0;
		height: 0;
	}
}