body,
html,
div,
p,
a,
span,
img,
button,
input,
nav {
  padding: 0;
  margin: 0;
}
html {
  font-size: 625%;
}
body {
  background: #f0f2f5;
}
.dh {
  width: 100%;
  height: 65px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 999;
}
.container .row {
  position: relative;
}
.container .right {
  height: 3000px;
  margin-top: 25px;
  border-radius: 5px;
}
.container .right .right-first {
  color: #e84d60;
  font-size: 15px;
  background: #fff6de;
  padding: 8px 35px 7px 21px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 14px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(31, 45, 61, 0.1);
}
.container .right-second {
  background: white;
  margin-right: -15px;
  margin-left: -15px;
  padding: 28px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.container .right-second .option1 {
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}
.container .right-second .option1 .option1-left {
  color: #727f8f;
  font-size: 15px;
  display: inline-block;
  padding: 4px 17px;
  float: left;
  overflow: hidden;
  cursor: pointer;
}
.container .right-second .option1 .option1-list {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .right-second .option1 .option1-list .listfirst {
  padding: 4px 17px;
  background: #4289dc;
  text-align: center;
  color: white;
  border-radius: 2px;
  margin: 0  25px 14px 0;
}
.container .right-second .option1 .option1-list .list {
  display: inline-block;
  padding: 4px 17px;
  margin: 0  25px 14px 0;
}
.container .md-left {
  position: sticky;
  top: 90px;
}
.container .left {
  width: 280px;
  background: white;
  border-radius: 5px;
}
.container .left .left-first {
  padding: 14px 21px;
  border-bottom: 1px solid #eff2f7;
  color: #273444;
  font-size: 17px;
}
.container .left .left-first a {
  float: right;
  overflow: hidden;
  font-size: 14px;
  color: #2d59a2;
  line-height: 25px;
  text-decoration: none;
}
.container .left .left-first a:hover {
  color: rgba(16, 142, 233, 0.8);
  transition: 0.5s;
}
.container .left .left-second {
  padding: 14px 21px;
  margin-bottom: 20px;
}
.container .left .left-second ul li {
  padding: 10px 0px;
  font-size: 14px;
  color: #273444;
  list-style: none;
}
.container .left .left-second i {
  margin-right: 15px;
}
.container .left .left-third {
  padding: 14px 21px;
  margin-top: 20px;
}
.container .left .left-third img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.cm-button {
  width: 115px;
  height: 42px;
  background: #0069c4;
  border-radius: 100px;
  line-height: 45px;
  padding: 0 14px;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 650px;
  position: fixed;
  transition: 0.5s;
}
.cm-button i {
  line-height: 30px;
}
.cm-button:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.cm-pop {
  width: 168px;
  height: 190px;
  background: white;
  position: absolute;
  right: 13px;
  top: 457px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  display: none;
}
.cm-pop .cm-pop-first {
  padding: 10px 0;
  margin: 0 14px;
  line-height: 17px;
  font-size: 12px;
  color: #2a465e;
  text-align: center;
  border-bottom: 0.5px solid #d8dde4;
}
.cm-pop .cm-pop-second {
  padding: 7px;
}
.cm-pop .cm-pop-second img {
  width: 154px;
  height: 136px;
}
@media screen and (max-width: 992px) {
  .left {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .list-header {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .right-1 {
    font-size: 14px;
    margin-right: 0px;
  }
  .right-3 {
    font-size: 11px;
  }
  .right-2-span {
    display: none;
  }
  .cm-pop {
    display: none;
  }
  .cm-button {
    display: none;
  }
}
