body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
body{background:#fff;color:#333;font-size:12px; margin-top:5px;font-family:"SimSun","宋体","Arial Narrow";} 
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
a{text-decoration:none;} 
a:hover{text-decoration: none;}
.clear{clear: both;}




body{
	background: #eee;
}
main{
	/*margin: 80px auto;*/
	margin-bottom: 20px;
}
.b-publish{
	padding: 0;
}
.b-right{
	padding: 2.5rem 3rem;
	background: #fff;
	border-radius: .5rem;
}




.b-publish .alert{
	margin: 0;
	margin-top: 15px;
	padding: 7px 30px 7px 15px;
}
.type{
	margin-bottom: 2rem;
}
.type img{
	width: 42px;
	margin-bottom: .4rem;
}
.type span{
	display: block;
}
.type label{
	width: 92px;
	text-align: center;
	padding: 1.5rem;
	border: 1px solid #fff;
	border-radius: 1rem;
	cursor: pointer;
	margin-bottom: 10px;
	font-weight: 400;
}
.type .active{
	border: 1px solid #0069c4;
}
.type .active span{
	color: #0069c4;
}
.type label:hover{
	border: 1px solid #0069c4;
}
.type label:hover span{
	color: #0069c4;
}
.type h3{
	font-size: 2.2rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}
.type li{
	padding: 0;
}
@media screen and (max-width: 370px) {
	.type label{
		padding: 1.5rem 1rem;
		width: 82px;
	}
}


.form-input-top .inline{
	display: inline-block;
}
.b-right .form-lable{
	font-size: 1.6rem;
	padding: .5rem 0 .5rem 1.5rem;
}
.pad .col-xs-4{
	padding: .7rem;
}
.pad .checkbox{
	display: inline-block;
	margin-left: 2rem;
}
.pad+.row{
	margin-top: 1rem;
	padding-left: 1.5rem;
}
.p-left{
	margin-top: 1rem;
	padding-left: 1.5rem;
}
.view{
	float: right;
	margin: .5rem;
	color: #0069c4;
	cursor: pointer;
}
.fanli{
	border: 1px solid #ddd;
	border-radius: .5rem;
	padding: 1rem;
	display: none;
}
.fanli p{
	margin: .5rem 0;
}
.fanli b{
	display: block;
}
.nin .col-sm-6{
	margin: .8rem 0;
}
.nin label{
	margin-bottom: .4rem;
	font-weight: 400;
}
.b-right .upload{
	outline: none;
}
.web{
	display: block;
	margin: .5rem 0;
}
.webname{
	position: relative;
	margin: 1rem 0;
}
.webname label{
	position: absolute;
	top: 0;
	left: 0;
	width: 3rem;
	border-right: 1px solid #ccc;
	height: 34px;
	line-height: 34px;
	text-align: center;
}
.webname input{
	width: 60%;
	text-indent: 2.5rem;
}
.free{
	display: inline-block;
	padding: .2rem;
	background: #f75288;
	color: #fff;
	border-radius: .4rem;
	font-weight: 700;
}
.price{
	color: #888;
}
.b-last .row{
	margin: .8rem 0 1.5rem;
}
.fabu button{
	display: block;
	width: 10rem;
	margin: 0 auto;
	font-weight: 700;
}


.pcode{
	position: relative;
}
#canvas{
	position: absolute;
	right: 17px;
	top: 22px;
	width: 90px;
	height: 31px;
}

.notice{
	padding: 2.5rem;
	border-radius: .5rem;
	background: #fff;
}
.notice h4{
	font-weight: 700;
	font-size:2.2rem; 
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #ddd;
}
.notice .content{
	padding-top: 1.2rem;
}
.notice .content p{
	padding-top: 1.2rem;

}