body {
    background-color: #f0f2f5;
    font-size: 14px;
    line-height: 1.5;
}

.user-content {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;

    .user-content-title {
        padding: 10px 0 20px;
        font-size: 14px;
    }

    // 左边
    .wrapper-left {
        width: 220px;
        border-radius: 6px;
        overflow: visible;
        float: left;

        p {
            box-sizing: border-box;
            padding: 7px 0 7px 21px;
        }

    }

    .wrappertitle {
        background-color: #E6EBF0;
        font-size: 12px;
        box-shadow: 0 1px 0 0 #FFF inset,
            0 1px 0 0 #E6E6E6,
            1px 0 0 0 #E6E6E6,
            -1px 0 0 0 #E6E6E6;
    }

    .wrapperclass {
        height: 45px;
        box-shadow: 0 -1px 0 0 #E6E6E6, 0 1px 0 0 #FFF inset, 0 2px 0 0 #E6E6E6, 1px 0 0 0 #E6E6E6, -1px 0 0 0 #E6E6E6;
    }

    // 右边
    .wrapper-right {
        margin-left: 230px;
        padding-bottom: 50px;
        padding-top: 40px;
        margin-bottom: 40px;
        background: #fff;
        box-shadow: 0 1px 2px rgba(183, 195, 192, .95);
        color: #333;

        >div {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }

        .skillshint {
            background: #fff6de;
            color: #979fa8;
            padding: 9px 15px;
            font-size: 12px;
            margin-bottom: 10px;
            border-radius: 4px;
            position: relative;
            em{
                position: absolute;
                right: 15px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
        }


    }

}

// 头像块
.infohead {
    padding: 15px;
    border: 1px solid #dde3eb;
    border-radius: 4px;
    margin-bottom: 25px;

    img {
        display: block;
        float: left;
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    .user-name {
        line-height: 50px
    }

    span {

        background-color: #f75288;
        color: #fff;
        border: 1px solid #f75288;
        border-radius: 4px;
        font-size: 12px;
        padding: 6px 10px;
    }

    >div {
        margin-left: 110px;
        height: 90px;
    }
}

// 信息块
.information {
    .information-title {
        font-size: 21px;
        color: #2d3238;
        line-height: 40px;
        margin-bottom: 12px;
        border-bottom: 1px solid #dde3eb;
    }
    .anno{
        color: #8796a8;
        margin-bottom: 6px;
    }
}
.infoitem{
    margin-top: 20px;
    .infoitem-head{
        position: relative;
        float: left;
        width: 128px;
    }
    .verify{
        color: #e61e0b;
        background: rgba(229,30,10,.1);
        font-size: 12px;
        padding: 6px;
        border-radius: 4px;
    }
}


.color2d3238 {
    color: #2d3238;
    opacity: .5;
}