body {
  background-color: #f0f2f5;
  font-size: 14px;
  line-height: 1.5;
}
.user-content {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.user-content .user-content-title {
  padding: 10px 15px 20px;
  font-size: 14px;
}
.user-content .user-wrapper {
  padding: 0 15px;
}
.user-content .wrapper-left {
  width: 220px;
  border-radius: 6px;
  overflow: visible;
  float: left;
}
.user-content .wrapper-left p {
  box-sizing: border-box;
  padding: 7px 0 7px 21px;
}
.user-content .wrapper-left p a {
  text-decoration: none;
}
.user-content .wrappertitle {
  background-color: #E6EBF0;
  font-size: 12px;
  box-shadow: 0 1px 0 0 #FFF inset, 0 1px 0 0 #E6E6E6, 1px 0 0 0 #E6E6E6, -1px 0 0 0 #E6E6E6;
}
.user-content .wrapperclass {
  height: 45px;
  box-shadow: 0 -1px 0 0 #E6E6E6, 0 1px 0 0 #FFF inset, 0 2px 0 0 #E6E6E6, 1px 0 0 0 #E6E6E6, -1px 0 0 0 #E6E6E6;
  cursor: pointer;
  vertical-align: middle;
  line-height: 30px;
}
.user-content .wrapperclass img {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -3px;
}
.user-content .w-active {
  background-color: #fff;
}
.user-content .wrapper-right {
  margin-left: 230px;
  padding-bottom: 50px;
  padding-top: 40px;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(183, 195, 192, 0.95);
  color: #333;
}
.user-content .wrapper-right > div {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.user-content .wrapper-right .skillshint {
  background: #fff6de;
  color: #979fa8;
  padding: 9px 15px;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  position: relative;
}
.user-content .wrapper-right .skillshint em {
  position: absolute;
  right: 15px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.infohead {
  padding: 15px;
  border: 1px solid #dde3eb;
  border-radius: 4px;
  margin-bottom: 25px;
}
.infohead img {
  display: block;
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.infohead .user-name {
  line-height: 50px;
}
.infohead span {
  background-color: #f75288;
  color: #fff;
  border: 1px solid #f75288;
  border-radius: 4px;
  font-size: 12px;
  padding: 6px 10px;
}
.infohead > div {
  margin-left: 110px;
  height: 90px;
}
.information .information-title {
  font-size: 21px;
  color: #2d3238;
  line-height: 40px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dde3eb;
}
.information .anno {
  color: #8796a8;
  margin-bottom: 6px;
}
.infoitem {
  margin-top: 20px;
  position: relative;
}
.infoitem > div {
  height: 45px;
  line-height: 45px;
}
.infoitem .infoitem-content {
  height: auto;
}
.infoitem .infoalter {
  display: none;
}
.infoitem .infoitem-head {
  position: relative;
  float: left;
  width: 128px;
}
.infoitem .infoitem-head::after {
  content: "";
  display: block;
  clear: both;
}
.infoitem .item--content {
  margin-left: 140px;
}
.infoitem .infoleftmore {
  margin-left: 170px;
}
.infoitem .verify {
  color: #e61e0b;
  background: rgba(229, 30, 10, 0.1);
  font-size: 12px;
  padding: 6px;
  border-radius: 4px;
}
.infoitem .alter {
  display: block;
  font-size: 12px;
  color: #4289dc;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
}
.user-btn-sure,
.user-btn-cancel {
  display: inline-block;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}
.user-btn-sure {
  border: 1px solid #4289dc;
  background: #4289db;
  color: #fff;
}
.user-btn-sure:hover {
  background: #3a79c2;
}
.user-btn-cancel {
  border: 1px solid #dde3eb;
  background: #fff;
  color: #273444;
}
.user-btn-cancel:hover {
  background: #eff2f7;
}
.infoitem-content .user-btn {
  line-height: normal;
}
.infoitem-content > div {
  margin-left: 160px;
  padding: 5px 0;
}
.infoitem-content input {
  display: block;
  width: 100%;
  outline: none;
  height: 40px;
  border: 1px solid #cad3de;
  border-radius: 4px;
  padding: 6px 10px;
  box-sizing: border-box;
  color: #273444;
}
.infoitem-content p {
  line-height: normal;
  color: #db5858;
  margin-top: 5px;
  font-size: 12px;
}
.color979FA8 {
  color: #979FA8;
}
.color979FA8:hover {
  color: #979FA8;
}
.foot {
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.foot .foot-copy {
  text-align: center;
  display: block;
}
@media screen and (max-width: 768px) {
  .user-content .wrapper-left {
    width: 100%;
    float: inherit;
  }
  .user-content .wrapper-right {
    margin-top: 20px;
    padding: 15px;
    margin-left: 0;
  }
  .infoitem .infoitem-head {
    float: inherit;
  }
  .infoitem .infoleftmore {
    margin-left: 0px;
  }
  .infoitem-content > div {
    margin-left: 0px;
    padding: 5px 0;
  }
  .foot {
    position: initial;
  }
  .foot .foot-copy span:nth-child(1),
  .foot .foot-copy span:nth-child(2) {
    display: block;
    position: initial;
  }
  .foot .foot-copy span:nth-child(2) {
    font-size: 16px;
    color: #8796a8;
  }
}
